body {
	padding-top: 70px;
	padding-bottom: 0px;
}
.lead {
	font-size: 16px;
}
.page-header {
	margin-bottom: 30px;
}
.page-header .lead {
	margin-bottom: 10px;
}
.container .navbar-header, .container .navbar-collapse {
	margin-right: 15px;
	margin-left: 0;
}
.navbar-header {
	font-size: 11px;
	float: left;
	padding: 15px 0px 0px;
}
#navbar > ul.nav.navbar-nav.navbar-right > li > a:hover, #navbar > ul.nav.navbar-nav.navbar-right > li > a:focus {
	border-bottom: 3px solid transparent;
}
.navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	visibility: visible !important;
}
.navbar-toggle {
	display: none;
}
.navbar-collapse {
	border-top: 0;
}
.navbar-nav {
	float: left;
	margin: 0;
}
.navbar-nav > li {
	float: left;
}
.navbar-nav > li > a {
	padding: 15px;
}
.navbar-nav a:hover, .navbar-nav a:focus {
	color: #fff;
}
.navbar-nav.navbar-right {
	float: right;
	padding: 0;
}
.navbar .navbar-nav .open .dropdown-menu {
	position: absolute;
	float: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-width: 0 1px 1px;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


.navbar .navbar-nav .open .dropdown-menu > .disabled > a, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: #999 !important;
	background-color: transparent !important;
}
select {
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}
.navbar-form {
	float: left;
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-form .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}
.navbar-form .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}
.navbar-form .form-control-static {
	display: inline-block;
}
.navbar-form .input-group {
	display: inline-table;
	vertical-align: middle;
}
.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
	width: auto;
}
.navbar-form .input-group > .form-control {
	width: 100%;
}
.navbar-form .control-label {
	margin-bottom: 0;
	vertical-align: middle;
}
.navbar-form .radio, .navbar-form .checkbox {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
}
.navbar-form .radio label, .navbar-form .checkbox label {
	padding-left: 0;
}
.navbar-form .radio input[type="radio"], .navbar-form .checkbox input[type="checkbox"] {
	position: relative;
	margin-left: 0;
}
.navbar-form .has-feedback .form-control-feedback {
	top: 0;
}
.menu-admin {
	padding: 10px 0 0;
	color: #fff;
	width: 100%;
}
.menu-admin .form-inline {
	padding-top: 5px;
}
.menu-admin .col-xs-1, .menu-admin .col-xs-2, .menu-admin .col-xs-3, .menu-admin .col-xs-4, .menu-admin .col-xs-5, .menu-admin .col-xs-6, .menu-admin .col-xs-7, .menu-admin .col-xs-8, .menu-admin .col-xs-9, .menu-admin .col-xs-10, .menu-admin .col-xs-11, .menu-admin .col-xs-12 {
	padding: 0 5px;
}
.menu-admin .dropdown-toggle {
	font-size: 180%;
	padding-top: 10px;
	text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
	border-color: #a3e33f;
}
.pad-top {
	padding: 6px 0 0 0
}
table#ids.form-group {
	display: inline-block;
}
table#ids.form-group .form-control {
	margin: 0 0px 2px 5px;
}
.navbar .form-control.bfh-country, .navbar .bfh-currencies .form-country, .navbar .form-control.bfh-languages, .navbar .form-control.bfh-currencies, .navbar .bfh-currencies .form-control, .navbar .bfh-languages .form-control {
	height: 25px;
	padding: 0px;
	font-size: 11px;
	line-height: 1.42857143;
	color: #fff;
	text-align: left;
	background-color: #eee;
	background-image: none;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.navbar .form-inline .form-control {
	width: 30px;
	height: 25px;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 0 0;
	padding: 2px 0px;
}
.navbar .container {
	width: auto;
	min-width: 320px;
	margin: 0 auto;
}
.navbar .bfh-selectbox .bfh-selectbox-toggle .selectbox-caret {
	margin-top: 6px;
}
.form-control.bfh-country, .bfh-currencies .form-country, .form-control.bfh-languages, .form-control.bfh-currencies, .bfh-currencies .form-control, .bfh-languages .form-control {
	height: 25px;
	padding: 0px;
	font-size: 11px;
	line-height: 1.42857143;
	color: #9b9fa4;
	text-align: left;
	background-color: transparent;
	background-image: none;
	border-radius: 4px;
	text-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="file"] {
	display: inline-block;
}
body > div > div:nth-child(2) > div > div > table > tbody > tr:nth-child(2) > td.col-xs-8 > div.col-xs-10 > table > tbody > tr > td > div.col-xs-8 {
	margin: 0 0 0 0;
}
table {
	background-color: transparent;
	width: 100%;
}
table .row {
	margin-right: 0;
	margin-left: 0;
}
.navbar-fixed-top .contanier {
	min-width: 768px;
}
.row.menu-admin {
	margin-right: 0px;
	margin-left: -15px;
}
.panel-heading [class*="col"]:first-child {
	padding-left: 0px;
}
.menu-status {
	font-size: 90%;
	padding-right: 0px;
}
.menu-status a {
	font-size: 110%;
	padding-left: 10px;
}
.menu-status a:hover, .menu-status a:focus {
	color: #fff;
}
.modal-footer .btn {
	margin: 0 0px;
}
.form-control.bfh-number {
	margin: 0 0;
	cursor: pointer;
}
.no-left-pad {
	padding-left: 0px;
}
.carousel {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: 2px 2px 0px rgba(0, 0, 0, .06);
	box-shadow: 2px 2px 0px rgba(0, 0, 0, .06);
	margin: 0 0 0 0;
}
/*.carousel .item .col-xs-4, .carousel .item .col-xs-2, .carousel .item .col-xs-3 {
	padding: 2px;
}
.carousel .item .thumbnail {
	margin: 0 0 0;
}
*/

.menu-modal {
	margin: 0 0 10px;
}
.title {
	padding: 10px 0;
	font-size: 15px;
	color: inherit;
	color: #424953;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	white-space: normal;
	height: 30px;
}
.subtitle, .price {
	white-space: normal;
}
.price {
	font-weight: bold;
}
.pad30.table > tbody > tr > td {
	padding: 30px 5px;
}
.valid-from {
	margin: 10px 0 0 0;
	word-spacing: normal;
	font-size: 80%;
	white-space: normal;
	font-family: 'Roboto Condensed', sans-serif;
}
input[type="radio"], input[type="checkbox"] {
	margin-top: 0;
}
.checkbox-inline {
	padding-top: 5px;
}
div.h-scroll {
	overflow-x: auto;
	-ms-overflow-x: auto;
	-ms-overflow-y: hidden;
	white-space: nowrap;
}
div.h-scroll [class*="col"] {
	display: inline-block;
	float: none;
	margin: 0px;
	vertical-align: top;
}
div.h-scroll [class*="col"]:first-child {
	padding-right: 0px;
	padding-left: 0px;
}
td {
	vertical-align: top;
}
td.panel.v-scroll {
	margin: 10px 0px 10px 6px;
	height: 430px;
	background: #FAFAFA;
	min-height: 430px;
}
td.panel.v-scroll:first-child {
	margin: 10px 0px 10px 0px;
}
td.panel:last-child {
	margin: 10px 0px 10px 6px;
	border: 1px dashed #eee;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;/*	width: 24%;*/
	min-height: 430px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.v-scroll {
	max-height: calc(100vh - 330px);
	overflow-y: auto;
	-ms-overflow-y: auto;
	-ms-overflow-x: hidden;
	border: 1px solid #EBEBEB;
	margin-bottom: 0;
	min-height: 240px;
}
.v-scroll [class*="col"] {
	vertical-align: top;
}
.box-shadow-cat {
	box-shadow: inset 5px 0px 0px #7fcc02;
}
.box-shadow-sub-cat {
	box-shadow: inset 4px 0px 0px #4ccec6;
}
.box-shadow-combo {
	box-shadow: inset 4px 0px 0px #FF4A66;
}
.box-shadow-sub-cat-combo {
	box-shadow: inset 4px 0px 0px #CA0005;
}
#managemenuModal .v-scroll {
	max-height: calc(100vh - 210px);
}
.gallery [class*="col"] {
	padding: 2px;
}
@-moz-document url-prefix() {
.file-upload {
padding: 0 4px 0 0;
}
}
::-webkit-file-upload-button {
 display: inline-block;
 padding: 2px 6px;
 margin-bottom: 0;
 color: #fff;
 font-weight: bold;
 line-height: 1.42857143;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 -ms-touch-action: manipulation;
 touch-action: manipulation;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background: #424953;
 border: 1px solid #383e47;
 border-radius: 4px;
 box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}
::-webkit-file-upload-button:hover {
 background: #383e47;
 border: 1px solid #424953;
 -moz-appearance:  none;
 -webkit-appearance: none;
}
.map {
	border: 1px dashed #ccc;
	border-radius: 4px;
	min-height: 290px;
	background: url(../img/map.svg) no-repeat center;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	background-size: contain;
}
.no-img {
	border: 1px dashed #ccc;
	border-radius: 4px;
	min-height: 100px;
	background: url(../img/img.svg) no-repeat center;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	margin: 2px 0;
	background-size: contain;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: flex-end; /* align vertical */
	color: #9b9fa4;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
a.no-img:hover { text-decoration:none; cursor: pointer}

.form-control.v-scroll {
	min-height: 120px;
	border: 1px solid #ccc;
	margin-top: 2px;
}
.day {
	width: 45px;
}
.nav-tabs {
	border-bottom: 0px;
}
.tab-content {
	-webkit-box-shadow: -2px -12px 10px -12px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -2px -12px 10px -12px rgba(0, 0, 0, 0.2);
	box-shadow: -2px -12px 10px -12px rgba(0, 0, 0, 0.2);
	padding: 35px 15px 15px;
	position: relative;
	z-index: 1;
	min-height: 100px;
}
.nav-tabs > li > a {
	background: #f0f0f0;
	border-left: none;
	display: block;
	letter-spacing: 0;
	outline: none;
	border-radius: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 1px solid #eaeaea;
}
.nav-tabs > li:first-child {
	margin-left: 15px;
}
.nav-tabs > li.open > a, .nav-tabs > li.open > a:hover, .nav-tabs > li.open > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 2px solid transparent;
	color: #3A3A3A;
	font-weight: bold;
	webkit-box-shadow: inset -1px 5px 0px -1px #a3e33f;
	-moz-box-shadow: inset -1px 5px 0px -1px #a3e33f;
	box-shadow: inset -1px 5px 0px -1px #a3e33f;
}
.table > tbody > tr:first-child {
	border-top: 0
}
code {
	padding: 2px 4px;
	font-size: 90%;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0.3;
	border-radius: 4px;
}
.col-xs-1.adjust {
	width: 9.333333%;
	padding-right: 0;
}
.form-control[readonly] {
	opacity: 1;
}
.btn-group > .btn, .btn-group-vertical > .btn {
	padding: 5px 14px;
}
.docs-title-input {
	border: 1px solid transparent;
	font-size: 24px;
	height: 30px;
	line-height: 24px;
	min-width: 1px;
	background-color: transparent;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
	color: #fff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .0);
	width: 25%;
	max-width: 100%;
	transition: width 0.25s;
	padding-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 5px 10px;
	font-weight: 500;
}
.pad5 {
	padding-top: 5px;
}
.pad10 {
	padding-top: 10px;
}
.pad15 {
	padding-top: 15px;
}
.tabbable.tabs-left .nav-tabs > li:first-child {
	margin-left: 0px;
}
.tabbable.tabs-left .tab-content {
	webkit-box-shadow: -2px -12px 10px -12px rgba(0, 0, 0, 0.0);
	-moz-box-shadow: -2px -12px 10px -12px rgba(0, 0, 0, 0.0);
	box-shadow: -2px -12px 10px -12px rgba(0, 0, 0, 0.0);
	border-left: 1px solid #ddd;
	padding: 0 15px;
}
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
	float: none;
	word-wrap: normal;
	position: relative;
	z-index: 2;
	margin: 0 -1px 0 0;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
	min-width: 20px;
	margin-right: 0;
	margin-bottom: -1px;
}
.tabs-left > .nav-tabs {
	float: left;
	padding: 0 0 0 0;
}
.tabs-left > .nav-tabs > li > a {
	line-height: 1.1;
	padding: 20px 10px;
}
.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus {
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
	border-bottom: 1px solid #ddd;
 *border-right-color: #ffffff;
	border-right: 0;
}
.days-header {
	background: #eee;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width: 0px;
}
.navbar .bfh-selectbox .bfh-selectbox-options {
	top: 35px;
	left: -95px;
}
.menu-options {
	font-size: 25px;
}
.empty {
	color: #9b9fa4;
}
.col-xs-3.panel.v-scroll.col-xs-2.menu-options.open > ul:last-child {
	top: -230px;
}
.modal-body .nav-tabs {
	margin-top: -15px;
}
.rotate {
	transform: rotate(90deg);
}
li.active {
	position: relative;
	z-index: 2;
}

a > img { cursor:pointer;}
.modal-xs {
	width: 30%;
}
.qr-title h1 {
	padding-top: 45px;
	font-size: 2.5em;
}
.download-title {
	display: flex;
	/*    justify-content: center;*/
	align-items: center;
	min-height: 120px;
}

@media screen and (max-width: 990px) {
.qr-title h1 {
	padding-top: 0px;
	font-size: 2em;
}
}

@media screen and (max-width: 767px) {
.nav.navbar-nav.navbar-right .open .dropdown-menu {
	left: -130px;
	top: 40px;
}
.modal-dialog {
	width: 99%;
}
.modal-sm, .modal-xs {
	width: 50%;
}
.qr-title h1 {
	padding-top: 0px;
	font-size: 1.5em;
}
}

@media screen and (max-width: 440px) {
.modal-sm, .modal-xs {
	width: 90%;
}
}

/*[class*="table-move"] { cursor: -webkit-grabbing; cursor: -moz-grabbing;}*/



.submenu {
    padding: 3px 0px;
}

.submenu span {
    padding: 3px 20px;
	font-weight:bold;
}
.submenu ul { list-style:none; padding:0; margin:0 0 0 0;}

ul, ol {
    list-style-type: none;
}


.submenu li { margin:0 0 0 0;}
.submenu li a {
    display: block;
    padding: 3px 40px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-shadow: none;
}

.submenu li a:hover, .submenu li a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.carousel-inner > .item div[class*="col-"] {
	padding: 2px;
}
.carousel-inner .item a.thumbnail.active {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=3);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 0.5;
	filter: alpha(opacity=100);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

@media all and (transform-3d), (-webkit-transform-3d) {
.fluid .carousel-inner > .item {
	-webkit-transition: -webkit-transform .6s ease-in-out;
	-o-transition: -o-transform .6s ease-in-out;
	transition: transform .6s ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	perspective: 1000;
}
.fluid .carousel-inner > .item.next, .fluid .carousel-inner > .item.active.right {
	left: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.fluid .carousel-inner > .item.prev, .fluid .carousel-inner > .item.active.left {
	left: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.fluid .carousel-inner > .item.next.left, .fluid .carousel-inner > .item.prev.right, .fluid .carousel-inner > .item.active {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
}

@media (max-width: 767px) {
.fluid .carousel-inner .active.left {
	left: -100%;
}
.fluid .carousel-inner .next {
	left: 100%;
}
.fluid .carousel-inner .prev {
	left: -100%;
}
.fluid .carousel-inner .active > div {
	display: none;
}
.fluid .carousel-inner .active > div:first-child {
	display: block;
}
}

@media (min-width: 767px) and (max-width: 992px ) {
.fluid .carousel-inner .active.left {
	left: -100%;
}
.fluid .carousel-inner .next {
	left: 100%;
}
.fluid .carousel-inner .prev {
	left: -100%;
}
.fluid .carousel-inner .active > div {
	display: none;
}
.fluid .carousel-inner .active > div:first-child {
	display: block;
}
.fluid .carousel-inner .active > div:first-child + div {
	display: block;
}
}

@media (min-width: 992px ) {
.fluid .carousel-inner .active.left {
	left: -25%;
}
.fluid .carousel-inner .next {
	left: 25%;
}
.fluid .carousel-inner .prev {
	left: -25%;
}
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}