.dropdown dt a {
	font-weight: normal;
}

#lenguage-select-alt {margin: -23px 0 0 25px;}

#lenguage-options {
	width: auto;
}

#content {
	margin-bottom: 50px;
}

.marginTitle {
	margin-top: 50px;
}

.page-header {
	margin-top: 5px;
}


.controls select {
	width: auto;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	background-color: #839D41;
}

.alert-info {
    background-color: #839D41;
    border-color: #007100;
    color: #FFFFFF;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(69, 137, 58, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(69, 137, 58, 0.6);
    outline: 0 none;
}

.btn-primary {
    background-color: #60BB62;
    background-image: linear-gradient(to bottom, #80B782, #839D41);
    background-image: -moz-linear-gradient(center top , #80B782, #839D41);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn {
	margin-top: 0px;
}

.well {
	background-color: #DFFEAE;
	border: 1px solid #A9C06E;
}

.well .nav-list li {
	display: inline-block;
	text-align: -webkit-match-parent;
	margin-right: 24px;
	min-width: 115px;
}


.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #45893A;
    color: #FFFFFF;
}

.datoquePedido ul {
	margin-left: 20px;
}

.worldMapContainer {
	margin-top: 100px;
}